{{ with .Default -}}
default {
	{{if .Model }} model = "{{ .Model }}" {{ end }}
}
{{ end }}
{{ with .Daemon -}}
daemon {
	{{- with .DaemonAddr }}
	daemon_addr = "{{ . }}"
	{{- end }}
	{{- with .ListenAddr }}
	listen_addr = "{{ . }}"
	{{- end }}
	{{- with .AutoTLS }}
	auto_tls = {{ . }}
	{{- end }}
	{{- with .Keyring }}
	keyring = "{{ . }}"
	{{- end }}
	{{- if .AllowedIPs }}
	allowed_ips = [
		{{- range $i, $cidr := .AllowedIPs }}
		"{{ $cidr }}",
		{{- end }}
	]
	{{- end }}
}
{{ end }}
{{ range .Auth -}}
auth "{{ .Type }}" "{{ .Name }}" {
	backend = "{{ .Backend }}"
	{{- if .Default }}
	default = true
	{{- end }}
	{{- if .KeychainName }}
	keychain_name = "{{ .KeychainName }}"
	{{- end }}
	{{- if .KeychainSynchronizable }}
	keychain_icloud = {{ .KeychainSynchronizable }}
	{{- end }}
	{{- if .FileDir }}
	file_dir = "{{ .FileDir }}"
	{{- end }}
	{{- if .KWalletAppID }}
	kwallet_app = "{{ .KWalletAppID }}"
	{{- end }}
	{{- if .KWalletFolder }}
	kwallet_dir = "{{ .KWalletFolder }}"
	{{- end }}
	{{- if .LibSecretCollectionName }}
	libsecret_collection = "{{ .LibSecretCollectionName }}"
	{{- end }}
	{{- if .PassDir }}
	pass_dir = "{{ .PassDir }}"
	{{- end }}
	{{- if .PassCmd }}
	pass_cmd = "{{ .PassCmd }}"
	{{- end }}
}
{{- end }}
{{ range .Providers }}
provider "{{ .Driver }}" "{{ .Name }}" {
	{{- if .BaseURL }}
	base_url = "{{ .BaseURL }}"
	{{- end }}
	{{- if .Batch }}
	batch = true
	{{- end }}
	{{- if .Project }}
	project = "{{ .Project }}"
	{{- end }}
	{{- if .Region }}
	region = "{{ .Region }}"
	{{- end }}
	{{- if .Dataset }}
	dataset = "{{ .Dataset }}"
	{{- end }}
	{{- if .Bucket }}
	bucket = "{{ .Bucket }}"
	{{- end }}
	{{- range .Models }}
	model "{{ .Name }}" {
		{{- if .Alias }}
		alias = [{{ range $i, $a := .Alias }}{{if $i}}, {{end}}"{{ $a }}"{{ end }}]
		{{- end }}
		{{- if .Tags }}
		tags = [{{ range $i, $t := .Tags }}{{if $i}}, {{end}}"{{ $t }}"{{ end }}]
		{{- end }}
		{{- if .Latest }}
		latest = {{ .Latest }}
		{{- end }}
		{{- if .Embedding }}
		embedding = {{ .Embedding }}
		{{- end }}
		{{- if .Images }}
		images = {{ .Images }}
		{{- end }}
		{{- if .Reasoning }}
		reasoning = {{ .Reasoning }}
		{{- end }}
	}
	{{- end }}
}
{{ end }}
{{ with .History -}}
history {
	{{- if .Location }}
	location = "{{ .Location }}"
	{{- end }}
	{{- range .Paths }}
	path "{{ .Path }}" {
		{{- if .Group }}
		group = "{{ .Group }}"
		{{- end }}
		{{- if .Ignore }}
		ignore = {{ .Ignore }}
		{{- end }}
	}
	{{- end }}
	{{- with .AnnotateWith }}
	annotate_with = "{{ . }}"
	{{- end }}
}
{{- end }}
