default {
	model = "{{ .Default.Model }}"
	# max_tokens =
	# temperature =
	# top_p =
	# frequency_penalty =
	# presence_penalty =
}

{{ if .Daemon }}
daemon {
	{{- if .Daemon.DaemonAddr }}
	daemon_addr = "{{ .Daemon.DaemonAddr }}"
	{{- end }}
	{{- if .Daemon.ListenAddr }}
	listen_addr = "{{ .Daemon.ListenAddr }}"
	{{- end }}
	# allowed_ips = [""]
	# auto_tls = false
	# keyring = { keyring to store SSL cert and key }
}
{{- end }}

{{ if .Auth }}
{{- range .Auth }}
auth "{{ .Type }}" "{{ .Name }}" {
	backend = "{{ .Backend }}"
	{{- if .Default }}
	default = true
	{{- end }}
	{{- if .KeychainName }}
	keychain_name = "{{ .KeychainName }}"
	{{- end }}
	{{- if .KeychainSynchronizable }}
	keychain_icloud = {{ .KeychainSynchronizable }}
	{{- end }}
	{{- if .FileDir }}
	file_dir = "{{ .FileDir }}"
	{{- end }}
	{{- if .KWalletAppID }}
	kwallet_app = "{{ .KWalletAppID }}"
	{{- end }}
	{{- if .KWalletFolder }}
	kwallet_dir = "{{ .KWalletFolder }}"
	{{- end }}
	{{- if .LibSecretCollectionName }}
	libsecret_collection = "{{ .LibSecretCollectionName }}"
	{{- end }}
	{{- if .PassDir }}
	pass_dir = "{{ .PassDir }}"
	{{- end }}
	{{- if .PassCmd }}
	pass_cmd = "{{ .PassCmd }}"
	{{- end }}
}
{{- end }}
{{- end }}

{{ if .Providers }}
{{- range .Providers }}
provider "{{ .Driver }}" "{{ .Name }}" {
	{{- if .BaseURL }}
	base_url = "{{ .BaseURL }}"
	{{- end }}
	{{- if .APIKey }}
	apikey = "{{ .APIKey }}"
	{{- end }}
	{{- range .Models }}
	model "{{ .Name }}" {
		{{- if .Alias }}
		alias = [{{ range $i, $a := .Alias }}{{if $i}}, {{end}}"{{ $a }}"{{ end }}]
		{{- end }}
		{{- if .Tags }}
		tags = [{{ range $i, $t := .Tags }}{{if $i}}, {{end}}"{{ $t }}"{{ end }}]
		{{- end }}
		{{- if .Latest }}
		latest = {{ .Latest }}
		{{- end }}
		{{- if .Embedding }}
		embedding = {{ .Embedding }}
		{{- end }}
	}
	{{- end }}
}
{{ end }}
{{- end }}

{{- if .History }}
history {
	{{- if .History.Location }}
	location = "{{ .History.Location }}"
	{{- end }}
	{{- range .History.Paths }}
	path "{{ .Path }}" {
		{{- if .Group }}
		group = "{{ .Group }}"
		{{- end }}
		{{- if .Ignore }}
		ignore = {{ .Ignore }}
		{{- end }}
	}
	{{- end }}
	{{- if .History.AnnotateWith }}
	annotate_with = "{{ .History.AnnotateWith }}"
	{{- end }}
}
{{- end }}
